@{
    ViewBag.Title = "Customers Page";
}

<div class="row">
    <div class="col-md-3">
        <p>
            <button id="loadCustomerButton" class="btn btn-default" data-bind="click: loadCustomers">Load Customers</button>
        </p>
    </div>
    
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h3>Customers</h3>
        <ul data-bind="foreach: customers">
            <li>
                <div class="btn btn-link" data-bind="text: fullName, click: loadOrders"></div>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Orders</h3>
        <ul>
        </ul>
    </div>
</div>